html
    body
        h1 Type
        div
            ul 
                li
                    img(style="margin: 100px 0px 0px 100px" src="/images/pd1.jpg" width="200px")
                    p Naruto 
                br
                li 
                    img(style="margin: 100px 0px 0px 100px" src="/images/pd3.jpg" width="200px")
                    p Dragon Ball
                br
                li 
                    img(style="margin: 100px 0px 0px 100px" src="/images/pd6.jpg" width="200px")
                    p Doremon