html
head
  title Toys Shop
  link(rel="stylesheet" type="text/css" href="/css/style.css")

body
  div.main
    div.header
      div.logo
        div.logo_text
          h1 Toys Shop
  div
    ul  
      li
        a(href="login") Login
      li
        a(href="category") Category  

  
    div.site_content
        h3 All Product
      
        img(style="margin: 100px 0px 0px 100px" src="/images/pd1.jpg" width="200px")
        img(style="margin: 100px 0px 0px 100px" src="/images/pd2.jpg" width="200px")
        img(style="margin: 100px 0px 0px 100px" src="/images/pd3.jpg" width="200px")
        img(style="margin: 100px 0px 0px 100px" src="/images/pd5.jpg" width="200px")
        <br>
        img(style="margin: 100px 0px 0px 100px" src="/images/pd6.jpg" width="200px")  
        img(style="margin: 100px 0px 0px 100px" src="/images/pd7.jpg" width="200px")  
     